<!-- <header>
    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
    </nav>
    <form action="/products" method="GET">
        <input type="text" name="search" placeholder="Search products..." />
        <button type="submit">Search</button>
    </form>

    <hr>
</header> -->

<header>
    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/profile/sam">Sam's Profile</a>
        <a href="/profile/jake">Jake's Profile</a>
        <a href="/profile/emma">Emma's Profile</a>
    </nav>

    <!-- Search form to filter products -->
    <form action="/products" method="GET">
        <input type="text" name="search" placeholder="Search products..." />
        <button type="submit">Search</button>
    </form>

    <hr>
</header>
